#!/usr/bin/make -f

%:
	dh $@ --with autoreconf --parallel

export PKG_CONFIG_PATH=/opt/szn/freetype/lib/x86_64-linux-gnu/pkgconfig
export FREETYPE_CFLAGS=-I/opt/szn/freetype/include/freetype2
export FREETYPE_LIBS=-lfreetype -L/opt/szn/freetype/lib/x86_64-linux-gnu

configure_flags += \
	--prefix=/opt/szn/cairo \
	--enable-pdf \
	--enable-ps \
	--enable-xlib \
	--enable-png \
	--enable-tee \
	--disable-silent-rules \
	--disable-maintainer-mode \
	--enable-xlib \
	--enable-svg \
	--enable-xcb \
	--enable-perf-utils \
	--disable-gl

override_dh_auto_configure:
	dh_auto_configure -- $(configure_flags)

override_dh_autoreconf:
	./autogen.sh

override_dh_auto_test:
	echo "Tests are disabled"
